@import 'mixins';
@import 'custom-variables';
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss';

/*main media queries*/
@media (max-width: 1400px) {
  .row {
    .view-main-search-page- {
      max-width: 1120px;
    }
  }
  .wrapper{
    margin-top:-196px;
  }
  body{
    .header, #navbar{
      .navigation{
        .navbar-nav{
          li{
            margin-left: 10px;
          }
        }
      }
      .sidebar{
        margin-left:28px;
      }
    }
  }
  .about_block{
    .text_under_header{
      .the_standart{
        font-size: 19px;
      }
    }
  }
  .services{
    .views-row:nth-child(1){
      p{
        padding-right: 0;
      }
    }
    .views-row:nth-child(4) {
      p{
        line-height: 15px;
      }
    }
    .views-row{
      p{
        font-size: 14px;
      }
    }
  }
  .projects{
    .view-content{
      .views-row{
        width: 23%;
      }
    }
  }
  .news_block_v2{
    .view-content{
      .views-row{
        width: 47%;
        margin-left:auto;
        margin-right: auto;
      }
    }
  }
}
@media (max-width: 1199px) {
  .row {
    .view-main-search-page- {
      max-width: 945px;
    }
  }
  .wrapper{
    margin-top: -255px;
  }
  body{
    .header, #navbar{
      .header_text {
        .block {
          margin-top: 278px;
        }
      }
      .navigation{
        .navbar-nav{
          li{
            margin-left: 30px;
          }
        }
      }
      .sidebar, .region-nav-sidebar{
        width: 100%;
        .input-group, .block-search{
          width: 100%;
        }
        input{
          margin:15px 0;
        }
      }
    }
  }
  .about_block{
    .text_under_header{
      .about{
        margin-top: 10px;
      }
      .btn_more_details{
        margin-top: 13px;
      }
    }
    .text_under_header::after{
      margin-top:64px;
    }
  }
  .news_block{
    .views-row {
      .layout--onecol{
        .block-field-blocknodenews-{
          &body{
            padding-left: 10px;
          }
          &field-writerr{
            padding-left: 10px;
          }
        }
      }
    }
  }
  .team{
    margin-bottom: 95px;
    .view-content{
      flex-wrap: wrap;
      .views-row{
        margin-top: 50px;
        width: 50%;
        max-width: 100%;
        margin-right: 0;
        img{
          margin:0 auto;
        }
      }
    }
  }
  .projects{
    .block-views{
      padding-bottom: 70px;
    }
    .view-content{
      flex-wrap: wrap;
      .views-row{
        width: 48%;
        max-width: 100%;
        margin-top: 50px;
        background: none;
        div{
          max-width: 290px;
          margin:0 auto;
          background: #fff;
          .views-field-link-to-revision{
            padding-bottom: 20px;
          }
        }
      }
      .views-row:nth-child(2), .views-row:nth-child(4){
        margin-right: 0;
      }
    }
  }
}
@media (max-width: 991px){
  .row {
    .view-main-search-page- {
      max-width: 705px;
    }
  }
  .wrapper{
    margin-top: -265px;
  }
  body {
    .header, #navbar{
      .header_logo, .logo{
        max-width: 100%;
        width: 100%;
        text-align: center;
      }
      .navbar-nav{
        li{
          margin-left:30px ;
        }
        li:after, {
          margin-top:15px ;
        }
        .first:after{
          margin-top:5px ;
        }
      }
    }
  }
  .news_block{
    .views-row:nth-child(2){
      display: none;
    }
    .views-row{
      max-width: 100%;
    }
  }
  .services{
    .views-row:nth-child(1){
      padding-right:0;
    }
    .views-row:nth-child(4) {
      h3{
        margin-top: 60px;
      }
    }
  }
  .projects{
    .view-content{
      .views-row{
        width: 47%;
      }
      .views-row:nth-child(1), .views-row:nth-child(3){
        margin-right: 40px;
      }
    }
  }
  .news_block_v2{
    .view-content{
      .views-row{
        width: 100%;
        margin-left:auto;
        margin-right: auto;
      }
    }
  }
}
@media (max-width: 767px) {
  .row {
    .view-main-search-page- {
      max-width: 525px;
    }
  }
  body{
    .header, #navbar {
      .navbar-nav {
        display: none;
      }
      #toggle-icon{
        display: block;
      }
      .header_text {
        .block {
          margin: 280px auto;
          text-align: center;
        }
      }
      .main_nav, .navigation{
        display: flex;
        width: 20%;
        .responsive-menu-toggle, .region-navigation, .responsive-menu-toggle-icon{
          margin:0 auto;
        }
      }
      .sidebar{
        width: 80%;
        margin-left: 0;
        .form-group{
          margin:0 10px;
        }
      }
    }
  }
  .about_block{
    .text_under_header{
      display: flex;
      flex-direction: column;
      text-align: center;
      .btn_more_details{
        margin:15px auto 0 auto;
      }
    }
    .text_under_header::after{
      margin-top:180px;
    }
  }
  .services{
    .view-content{
      flex-wrap: wrap;
      .views-row{
        width: 50%;
        padding-left:0;
        padding-right:0;
      }
    }
    .views-row:nth-child(4) {
      h3{
        margin-top: 37px;
      }
    }
    .views-row:nth-child(3), .views-row:nth-child(4) {
      margin-top: 50px;
    }
  }
  .team{
    .view-content{
      .views-row{
        width: 44%;
        max-width: 100%;
      }
      .views-row:nth-child(1), .views-row:nth-child(3){
        margin-right: 63px;
      }
    }
  }
  .projects{
    .view-content{
      .views-row{
        width: 100%;
      }
    }
  }
  .news_block{
    .form--inline{
      padding-top:10px;
      .form-actions{
        margin-bottom: 10px;
      }
    }
  }
  .clients_menu_page{
    .view-content{
      .views-row{
        width: 33.33%;
      }
    }
  }
  .contact {
    .col-12:nth-child(2) {
      padding:0 7.5px;
    }
  }
}
@media (max-width: 575px) {
  .row {
    .view-main-search-page- {
      padding:0 15px;
    }
  }
  body{
    .header, #navbar{
      .header_text{
        .block{
          #creativity{
            font-size: 55px;
          }
        }
      }
    }
  }
  .services{
    .view-content{
      .views-row{
        margin:50px auto 0 auto;
        width: 100%;
      }
    }
  }
  .team{
    .view-content{
      .views-row{
        width: 100%;
        margin:30px auto 0 auto;
      }
      .views-row:nth-child(1), .views-row:nth-child(3){
        margin-right: 0;
      }
    }
  }
  .news_block{
    .form--inline{
      .form-control{
        min-width: 250px;
      }
    }
  }
  .clients_menu_page{
    .view-content{
      .views-row{
        width: 50%;
      }
      img{
        margin:30px auto;
      }
    }
  }
  .news_block {
    .view-content {
      .views-row {
        img {
          display: block;
          margin-bottom: 10px;
        }
        .views-field-fieldset-1 {
          .views-field-field-writerr {
            span:nth-child(2) {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  #edit-actions-submit{
    width: 100%;
    height: 50px;
  }
}
/*custom media queries*/
@media (max-width: 486px) {
  .about_block{
    .text_under_header::after{
      margin-top:210px;
    }
  }
  .news_block{
    .view-content{
      .views-row{
        .views-field-body{
          padding-left: 10px;
        }
        .views-field-fieldset-1{
          .body-text {
            padding-left: 10px;
          }
          .views-field-link-to-revision{
            margin-top:60px;
          }
        }
      }
    }
    .form--inline{
      .form-control{
        min-width: 200px;
      }
    }
  }
  .news_block_v2{
    .views-row{
      .views-field-view-node
      {
        margin-top:60px;
      }
      img{
        display: block;
        margin-bottom:10px;
      }
      .views-field-field-writerr{
        span:nth-child(2){
          margin-left: 0;
        }
      }
    }
  }
  .clients_slider{
    .slick-track{
      margin-bottom:30px;
    }
    .slick-slide{
      img{
        margin:0 auto;
      }
    }
  }
  .footer{
    .navbar-brand{
      display: block;
      margin: 0 auto;
      width: 163px;
    }
    .navbar-text{
      margin: 0 auto;
      width: 163px;
    }
    #block-icons{
      margin-top: 30px;
      width: 100%;
      ul{
        margin: 0 auto;
      }
    }
  }
  .clients_menu_page{
    .view-content{
      .views-row{
        width: 100%;

      }
    }
  }
}
@media (max-width: 331px) {
  .about_block{
    .text_under_header::after{
      margin-top:240px;
    }
  }
  .news_block{
    .view-content{
      .views-row{
        .views-field-fieldset-1{
          .views-field-link-to-revision{
            margin-top:75px;
          }
        }
      }
    }
  }
}
